[submodule "libraries/apache@commons-io"]
	path = libraries/apache@commons-io
	url = git@github.com:apache/commons-io.git
[submodule "clients/signalapp@Signal-Server"]
	path = clients/signalapp@Signal-Server
	url = git@github.com:signalapp/Signal-Server.git
[submodule "clients/Alluxio@alluxio"]
	path = clients/Alluxio@alluxio
	url = git@github.com:Alluxio/alluxio.git
[submodule "clients/weibocom@motan"]
	path = clients/weibocom@motan
	url = git@github.com:weibocom/motan.git
[submodule "clients/chanjarster@weixin-java-tools"]
	path = clients/chanjarster@weixin-java-tools
	url = git@github.com:chanjarster/weixin-java-tools.git
[submodule "libraries/google@guava"]
	path = libraries/google@guava
	url = git@github.com:google/guava.git
[submodule "clients/pvorb@npm-stat.com"]
	path = clients/pvorb@npm-stat.com
	url = git@github.com:pvorb/npm-stat.com.git
[submodule "clients/square@dagger"]
	path = clients/square@dagger
	url = git@github.com:square/dagger.git
[submodule "clients/loda-kun@spring-boot-learning"]
	path = clients/loda-kun@spring-boot-learning
	url = git@github.com:loda-kun/spring-boot-learning.git
[submodule "clients/flowable@flowable-engine"]
	path = clients/flowable@flowable-engine
	url = git@github.com:flowable/flowable-engine.git
[submodule "clients/ant-media@Ant-Media-Server"]
	path = clients/ant-media@Ant-Media-Server
	url = git@github.com:ant-media/Ant-Media-Server.git
[submodule "clients/JakeWharton@DiskLruCache"]
	path = clients/JakeWharton@DiskLruCache
	url = git@github.com:JakeWharton/DiskLruCache.git
[submodule "clients/AxonFramework@AxonFramework"]
	path = clients/AxonFramework@AxonFramework
	url = git@github.com:AxonFramework/AxonFramework.git
[submodule "libraries/apache@commons-lang"]
	path = libraries/apache@commons-lang
	url = git@github.com:apache/commons-lang.git
[submodule "clients/OpenFeign@feign"]
	path = clients/OpenFeign@feign
	url = git@github.com:OpenFeign/feign.git
[submodule "clients/spring-projects@spring-security-oauth"]
	path = clients/spring-projects@spring-security-oauth
	url = git@github.com:spring-projects/spring-security-oauth.git
[submodule "clients/mrniko@netty-socketio"]
	path = clients/mrniko@netty-socketio
	url = git@github.com:mrniko/netty-socketio.git
[submodule "clients/alibaba@transmittable-thread-local"]
	path = clients/alibaba@transmittable-thread-local
	url = git@github.com:alibaba/transmittable-thread-local.git
[submodule "clients/thingsboard@thingsboard"]
	path = clients/thingsboard@thingsboard
	url = git@github.com:thingsboard/thingsboard.git
[submodule "clients/apache@activemq"]
	path = clients/apache@activemq
	url = git@github.com:apache/activemq.git
[submodule "clients/spring-attic@spring-mvc-showcase"]
	path = clients/spring-attic@spring-mvc-showcase
	url = git@github.com:spring-attic/spring-mvc-showcase.git
[submodule "clients/eclipse-vertx@vert.x"]
	path = clients/eclipse-vertx@vert.x
	url = git@github.com:eclipse-vertx/vert.x.git
[submodule "clients/OryxProject@oryx"]
	path = clients/OryxProject@oryx
	url = git@github.com:OryxProject/oryx.git
[submodule "clients/scribejava@scribejava"]
	path = clients/scribejava@scribejava
	url = git@github.com:scribejava/scribejava.git
[submodule "clients/oldmanpushcart@greys-anatomy"]
	path = clients/oldmanpushcart@greys-anatomy
	url = git@github.com:oldmanpushcart/greys-anatomy.git
[submodule "clients/RipMeApp@ripme"]
	path = clients/RipMeApp@ripme
	url = git@github.com:RipMeApp/ripme.git
[submodule "clients/bonigarcia@webdrivermanager"]
	path = clients/bonigarcia@webdrivermanager
	url = git@github.com:bonigarcia/webdrivermanager.git
[submodule "clients/alibaba@nacos"]
	path = clients/alibaba@nacos
	url = git@github.com:alibaba/nacos.git
[submodule "clients/bastillion-io@Bastillion"]
	path = clients/bastillion-io@Bastillion
	url = git@github.com:bastillion-io/Bastillion.git
[submodule "clients/wstrange@GoogleAuth"]
	path = clients/wstrange@GoogleAuth
	url = git@github.com:wstrange/GoogleAuth.git
[submodule "clients/acmenlt@dynamic-threadpool"]
	path = clients/acmenlt@dynamic-threadpool
	url = git@github.com:acmenlt/dynamic-threadpool.git
[submodule "clients/wildfly@wildfly"]
	path = clients/wildfly@wildfly
	url = git@github.com:wildfly/wildfly.git
[submodule "clients/jenkinsci@blueocean-plugin"]
	path = clients/jenkinsci@blueocean-plugin
	url = git@github.com:jenkinsci/blueocean-plugin.git
[submodule "clients/apache@servicecomb-pack"]
	path = clients/apache@servicecomb-pack
	url = git@github.com:apache/servicecomb-pack.git
[submodule "clients/jeremylong@DependencyCheck"]
	path = clients/jeremylong@DependencyCheck
	url = git@github.com:jeremylong/DependencyCheck.git
[submodule "clients/apache@hudi"]
	path = clients/apache@hudi
	url = git@github.com:apache/hudi.git
[submodule "clients/apache@accumulo"]
	path = clients/apache@accumulo
	url = git@github.com:apache/accumulo.git
[submodule "clients/hazelcast@hazelcast"]
	path = clients/hazelcast@hazelcast
	url = git@github.com:hazelcast/hazelcast.git
[submodule "clients/torakiki@pdfsam"]
	path = clients/torakiki@pdfsam
	url = git@github.com:torakiki/pdfsam.git
[submodule "clients/obsidiandynamics@kafdrop"]
	path = clients/obsidiandynamics@kafdrop
	url = git@github.com:obsidiandynamics/kafdrop.git
[submodule "clients/bit4woo@knife"]
	path = clients/bit4woo@knife
	url = git@github.com:bit4woo/knife.git
[submodule "clients/alibaba@DataX"]
	path = clients/alibaba@DataX
	url = git@github.com:alibaba/DataX.git
[submodule "clients/Qihoo360@Quicksql"]
	path = clients/Qihoo360@Quicksql
	url = git@github.com:Qihoo360/Quicksql.git
[submodule "clients/luxiaoxun@NettyRpc"]
	path = clients/luxiaoxun@NettyRpc
	url = git@github.com:luxiaoxun/NettyRpc.git
[submodule "clients/mpusher@mpush"]
	path = clients/mpusher@mpush
	url = git@github.com:mpusher/mpush.git
[submodule "clients/dromara@raincat"]
	path = clients/dromara@raincat
	url = git@github.com:dromara/raincat.git
[submodule "clients/apolloconfig@apollo"]
	path = clients/apolloconfig@apollo
	url = git@github.com:apolloconfig/apollo.git
[submodule "clients/spotify@docker-maven-plugin"]
	path = clients/spotify@docker-maven-plugin
	url = git@github.com:spotify/docker-maven-plugin.git
[submodule "clients/knowm@XChange"]
	path = clients/knowm@XChange
	url = git@github.com:knowm/XChange.git
[submodule "clients/facebookarchive@nifty"]
	path = clients/facebookarchive@nifty
	url = git@github.com:facebookarchive/nifty.git
[submodule "clients/graphhopper@graphhopper"]
	path = clients/graphhopper@graphhopper
	url = git@github.com:graphhopper/graphhopper.git
[submodule "clients/ata4@disunity"]
	path = clients/ata4@disunity
	url = git@github.com:ata4/disunity.git
[submodule "clients/dianping@cat"]
	path = clients/dianping@cat
	url = git@github.com:dianping/cat.git
[submodule "clients/zaiyunduan123@springboot-seckill"]
	path = clients/zaiyunduan123@springboot-seckill
	url = git@github.com:zaiyunduan123/springboot-seckill.git
[submodule "clients/rest-assured@rest-assured"]
	path = clients/rest-assured@rest-assured
	url = git@github.com:rest-assured/rest-assured.git
[submodule "clients/apache@dolphinscheduler"]
	path = clients/apache@dolphinscheduler
	url = git@github.com:apache/dolphinscheduler.git
[submodule "clients/febsteam@FEBS-Shiro"]
	path = clients/febsteam@FEBS-Shiro
	url = git@github.com:febsteam/FEBS-Shiro.git
[submodule "clients/hugegraph@hugegraph"]
	path = clients/hugegraph@hugegraph
	url = git@github.com:hugegraph/hugegraph.git
[submodule "clients/liuyangming@ByteTCC"]
	path = clients/liuyangming@ByteTCC
	url = git@github.com:liuyangming/ByteTCC.git
[submodule "clients/shopizer-ecommerce@shopizer"]
	path = clients/shopizer-ecommerce@shopizer
	url = git@github.com:shopizer-ecommerce/shopizer.git
[submodule "clients/modelmapper@modelmapper"]
	path = clients/modelmapper@modelmapper
	url = git@github.com:modelmapper/modelmapper.git
[submodule "clients/seata@seata-samples"]
	path = clients/seata@seata-samples
	url = git@github.com:seata/seata-samples.git
[submodule "clients/apache@zeppelin"]
	path = clients/apache@zeppelin
	url = git@github.com:apache/zeppelin.git
[submodule "clients/qunarcorp@bistoury"]
	path = clients/qunarcorp@bistoury
	url = git@github.com:qunarcorp/bistoury.git
[submodule "clients/ninjaframework@ninja"]
	path = clients/ninjaframework@ninja
	url = git@github.com:ninjaframework/ninja.git
[submodule "clients/bit4woo@domain_hunter_pro"]
	path = clients/bit4woo@domain_hunter_pro
	url = git@github.com:bit4woo/domain_hunter_pro.git
[submodule "clients/corona-warn-app@cwa-server"]
	path = clients/corona-warn-app@cwa-server
	url = git@github.com:corona-warn-app/cwa-server.git
[submodule "clients/crossoverJie@SSM"]
	path = clients/crossoverJie@SSM
	url = git@github.com:crossoverJie/SSM.git
[submodule "clients/apache@systemds"]
	path = clients/apache@systemds
	url = git@github.com:apache/systemds.git
[submodule "clients/didi@LogiKM"]
	path = clients/didi@LogiKM
	url = git@github.com:didi/LogiKM.git
[submodule "clients/apache@iotdb"]
	path = clients/apache@iotdb
	url = git@github.com:apache/iotdb.git
[submodule "clients/Meituan-Dianping@Leaf"]
	path = clients/Meituan-Dianping@Leaf
	url = git@github.com:Meituan-Dianping/Leaf.git
[submodule "clients/spring-projects@spring-data-elasticsearch"]
	path = clients/spring-projects@spring-data-elasticsearch
	url = git@github.com:spring-projects/spring-data-elasticsearch.git
[submodule "clients/netty@netty"]
	path = clients/netty@netty
	url = git@github.com:netty/netty.git
[submodule "clients/dearbinge@dubbo-spring-boot-mybatis-redis"]
	path = clients/dearbinge@dubbo-spring-boot-mybatis-redis
	url = git@github.com:dearbinge/dubbo-spring-boot-mybatis-redis.git
[submodule "clients/abel533@MyBatis-Spring-Boot"]
	path = clients/abel533@MyBatis-Spring-Boot
	url = git@github.com:abel533/MyBatis-Spring-Boot.git
[submodule "clients/apache@curator"]
	path = clients/apache@curator
	url = git@github.com:apache/curator.git
[submodule "clients/qunarcorp@qmq"]
	path = clients/qunarcorp@qmq
	url = git@github.com:qunarcorp/qmq.git
[submodule "clients/tonikelope@megabasterd"]
	path = clients/tonikelope@megabasterd
	url = git@github.com:tonikelope/megabasterd.git
[submodule "clients/thinkaurelius@titan"]
	path = clients/thinkaurelius@titan
	url = git@github.com:thinkaurelius/titan.git
[submodule "clients/iluwatar@java-design-patterns"]
	path = clients/iluwatar@java-design-patterns
	url = git@github.com:iluwatar/java-design-patterns.git
[submodule "clients/confluentinc@kafka-streams-examples"]
	path = clients/confluentinc@kafka-streams-examples
	url = git@github.com:confluentinc/kafka-streams-examples.git
[submodule "clients/sofastack@sofa-jraft"]
	path = clients/sofastack@sofa-jraft
	url = git@github.com:sofastack/sofa-jraft.git
[submodule "clients/swagger-api@swagger-core"]
	path = clients/swagger-api@swagger-core
	url = git@github.com:swagger-api/swagger-core.git
[submodule "clients/eclipse@jetty.project"]
	path = clients/eclipse@jetty.project
	url = git@github.com:eclipse/jetty.project.git
[submodule "clients/airsonic@airsonic"]
	path = clients/airsonic@airsonic
	url = git@github.com:airsonic/airsonic.git
[submodule "clients/code4craft@webmagic"]
	path = clients/code4craft@webmagic
	url = git@github.com:code4craft/webmagic.git
[submodule "clients/scobal@seyren"]
	path = clients/scobal@seyren
	url = git@github.com:scobal/seyren.git
[submodule "clients/joelittlejohn@jsonschema2pojo"]
	path = clients/joelittlejohn@jsonschema2pojo
	url = git@github.com:joelittlejohn/jsonschema2pojo.git
[submodule "clients/pinpoint-apm@pinpoint"]
	path = clients/pinpoint-apm@pinpoint
	url = git@github.com:pinpoint-apm/pinpoint.git
[submodule "clients/qiujiayu@AutoLoadCache"]
	path = clients/qiujiayu@AutoLoadCache
	url = git@github.com:qiujiayu/AutoLoadCache.git
[submodule "clients/apache@kylin"]
	path = clients/apache@kylin
	url = git@github.com:apache/kylin.git
[submodule "clients/liyifeng1994@ssm"]
	path = clients/liyifeng1994@ssm
	url = git@github.com:liyifeng1994/ssm.git
[submodule "clients/spotify@helios"]
	path = clients/spotify@helios
	url = git@github.com:spotify/helios.git
[submodule "clients/seaswalker@spring-analysis"]
	path = clients/seaswalker@spring-analysis
	url = git@github.com:seaswalker/spring-analysis.git
[submodule "clients/Pay-Group@best-pay-sdk"]
	path = clients/Pay-Group@best-pay-sdk
	url = git@github.com:Pay-Group/best-pay-sdk.git
[submodule "clients/searchbox-io@Jest"]
	path = clients/searchbox-io@Jest
	url = git@github.com:searchbox-io/Jest.git
[submodule "clients/apache@zookeeper"]
	path = clients/apache@zookeeper
	url = git@github.com:apache/zookeeper.git
[submodule "libraries/FasterXML@jackson-databind"]
	path = libraries/FasterXML@jackson-databind
	url = git@github.com:FasterXML/jackson-databind.git
[submodule "libraries/apache@commons-codec"]
	path = libraries/apache@commons-codec
	url = git@github.com:apache/commons-codec.git
[submodule "libraries/FasterXML@jackson-core"]
	path = libraries/FasterXML@jackson-core
	url = git@github.com:FasterXML/jackson-core.git
[submodule "clients/wkeyuan@DWSurvey"]
	path = clients/wkeyuan@DWSurvey
	url = git@github.com:wkeyuan/DWSurvey.git
[submodule "clients/paascloud@paascloud-master"]
	path = clients/paascloud@paascloud-master
	url = git@github.com:paascloud/paascloud-master.git
[submodule "clients/oracle@helidon"]
	path = clients/oracle@helidon
	url = git@github.com:oracle/helidon.git
[submodule "clients/frohoff@ysoserial"]
	path = clients/frohoff@ysoserial
	url = git@github.com:frohoff/ysoserial.git
[submodule "clients/sohutv@cachecloud"]
	path = clients/sohutv@cachecloud
	url = git@github.com:sohutv/cachecloud.git
[submodule "clients/jOOQ@jOOQ"]
	path = clients/jOOQ@jOOQ
	url = git@github.com:jOOQ/jOOQ.git
[submodule "clients/cryptomator@cryptomator"]
	path = clients/cryptomator@cryptomator
	url = git@github.com:cryptomator/cryptomator.git
[submodule "clients/crossoverJie@JCSprout"]
	path = clients/crossoverJie@JCSprout
	url = git@github.com:crossoverJie/JCSprout.git
[submodule "clients/jenkinsci@kubernetes-plugin"]
	path = clients/jenkinsci@kubernetes-plugin
	url = git@github.com:jenkinsci/kubernetes-plugin.git
[submodule "repo/zhegexiaohuozi@JsoupXpath"]
	path = repo/zhegexiaohuozi@JsoupXpath
	url = https://github.com/zhegexiaohuozi/JsoupXpath
[submodule "repo/apache@https:/gitbox.apache.org/repos/asf/commons-io.git"]
	path = repo/apache@https:/gitbox.apache.org/repos/asf/commons-io.git
	url = https://gitbox.apache.org/repos/asf/commons-io.git
[submodule "repo/schemacrawler@SchemaCrawler"]
	path = repo/schemacrawler@SchemaCrawler
	url = https://github.com/schemacrawler/SchemaCrawler
[submodule "repo/rubenlagus@TelegramBots"]
	path = repo/rubenlagus@TelegramBots
	url = https://github.com/rubenlagus/TelegramBots
[submodule "repo/radkovo@Pdf2Dom"]
	path = repo/radkovo@Pdf2Dom
	url = https://github.com/radkovo/Pdf2Dom
[submodule "repo/quarkusio@quarkus"]
	path = repo/quarkusio@quarkus
	url = https://github.com/quarkusio/quarkus
[submodule "repo/openapitools@openapi-generator"]
	path = repo/openapitools@openapi-generator
	url = https://github.com/openapitools/openapi-generator
[submodule "repo/nguyenq@tess4j"]
	path = repo/nguyenq@tess4j
	url = https://github.com/nguyenq/tess4j
[submodule "repo/neo4j@neo4j"]
	path = repo/neo4j@neo4j
	url = https://github.com/neo4j/neo4j
[submodule "repo/microfocus-idol@java-idol-types"]
	path = repo/microfocus-idol@java-idol-types
	url = https://github.com/microfocus-idol/java-idol-types
[submodule "repo/microfocus-idol@java-configuration-impl"]
	path = repo/microfocus-idol@java-configuration-impl
	url = https://github.com/microfocus-idol/java-configuration-impl
[submodule "repo/microfocus-idol@java-aci-api-ng"]
	path = repo/microfocus-idol@java-aci-api-ng
	url = https://github.com/microfocus-idol/java-aci-api-ng
[submodule "repo/marklogic-community@ml-gradle"]
	path = repo/marklogic-community@ml-gradle
	url = https://github.com/marklogic-community/ml-gradle
[submodule "repo/jmeter-maven-plugin@jmeter-maven-plugin"]
	path = repo/jmeter-maven-plugin@jmeter-maven-plugin
	url = https://github.com/jmeter-maven-plugin/jmeter-maven-plugin
[submodule "repo/jknack@handlebars.java"]
	path = repo/jknack@handlebars.java
	url = https://github.com/jknack/handlebars.java
[submodule "repo/jeremylong@DependencyCheck"]
	path = repo/jeremylong@DependencyCheck
	url = https://github.com/jeremylong/DependencyCheck
[submodule "repo/hyperledger@fabric-sdk-java"]
	path = repo/hyperledger@fabric-sdk-java
	url = https://github.com/hyperledger/fabric-sdk-java
[submodule "repo/hazelcast@hazelcast"]
	path = repo/hazelcast@hazelcast
	url = https://github.com/hazelcast/hazelcast
[submodule "repo/hawtio@hawtio"]
	path = repo/hawtio@hawtio
	url = https://github.com/hawtio/hawtio
[submodule "repo/apache@commons-io"]
	path = repo/apache@commons-io
	url = https://gitbox.apache.org/repos/asf/commons-io.git
[submodule "repo/getgauge@gauge-java"]
	path = repo/getgauge@gauge-java
	url = https://github.com/getgauge/gauge-java
[submodule "repo/franzinc@agraph-java-client"]
	path = repo/franzinc@agraph-java-client
	url = https://github.com/franzinc/agraph-java-client
[submodule "repo/flowable@flowable-engine"]
	path = repo/flowable@flowable-engine
	url = https://github.com/flowable/flowable-engine
[submodule "repo/fcrepo-exts@fcrepo-java-client"]
	path = repo/fcrepo-exts@fcrepo-java-client
	url = https://github.com/fcrepo-exts/fcrepo-java-client
[submodule "repo/fcrepo-exts@fcrepo-camel"]
	path = repo/fcrepo-exts@fcrepo-camel
	url = https://github.com/fcrepo-exts/fcrepo-camel
[submodule "repo/eirslett@frontend-maven-plugin"]
	path = repo/eirslett@frontend-maven-plugin
	url = https://github.com/eirslett/frontend-maven-plugin
[submodule "repo/davidmoten@rxjava-jdbc"]
	path = repo/davidmoten@rxjava-jdbc
	url = https://github.com/davidmoten/rxjava-jdbc
[submodule "repo/dadoonet@spring-elasticsearch"]
	path = repo/dadoonet@spring-elasticsearch
	url = https://github.com/dadoonet/spring-elasticsearch
[submodule "repo/codelibs@fess"]
	path = repo/codelibs@fess
	url = https://github.com/codelibs/fess
[submodule "repo/checkstyle@checkstyle"]
	path = repo/checkstyle@checkstyle
	url = https://github.com/checkstyle/checkstyle
[submodule "repo/bitbar@testdroid-api"]
	path = repo/bitbar@testdroid-api
	url = https://github.com/bitbar/testdroid-api
[submodule "repo/assertj@assertj-core"]
	path = repo/assertj@assertj-core
	url = https://github.com/assertj/assertj-core
[submodule "repo/arquillian@arquillian-extension-drone"]
	path = repo/arquillian@arquillian-extension-drone
	url = https://github.com/arquillian/arquillian-extension-drone
[submodule "repo/apache@maven-apache-parent"]
	path = repo/apache@maven-apache-parent
	url = https://github.com/apache/maven-apache-parent
